spawn-at-startup "awww-daemon"

input {
  focus-follows-mouse max-scroll-amount="0%"

  mouse {
    natural-scroll 
  }
  keyboard {
    xkb {
      layout "us"
    }
  }
}

window-rule {

  focus-ring {
    width 3 

    active-color "#89b4fa"
    inactive-color "#313244"
  }

  draw-border-with-background false

  background-effect {
    xray true
    blur true
    noise 0.05
    saturation 3
  }

  geometry-corner-radius 12
  clip-to-geometry true
}

binds {
  Mod+Q { spawn "ghostty"; }
  Mod+C { close-window; }
  Mod+Shift+C { center-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Ctrl+Shift+R { switch-preset-window-height; }

  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+T { spawn "alacritty"; }
  Mod+D { spawn "fuzzel"; }
  Super+Alt+L { spawn "swaylock"; }
  Mod+O { toggle-overview; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+V { toggle-window-floating; }
  Mod+Shift+E { quit; }
  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }
  
  "Mod+Ctrl+Shift+S" { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

  Mod+H { focus-column-left; }
  Mod+J { focus-window-down; }
  Mod+K { focus-window-up; }
  Mod+L { focus-column-right; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }

  XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

// Optional: Microphone mute
XF86AudioMicMute    { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}

layout {
  gaps 16
  center-focused-column "never"
  default-column-width {}
}

prefer-no-csd true

output "DP-3" {
  mode "3440x1440@143.975"
  variable-refresh-rate 
}
